@font-face{ 
font-family:'dodger';
    src:url('/font/dodger.eot');
}
@font-face { 
    font-family: 'dodger';
    font-weight: normal;
    font-style: normal;
    src:url(http://:/) format("No-IE-404"),url('/font/dodger.woff') format('woff'), 
        url('/font/dodger.ttf') format('truetype'), 
        url('/font/dodger.svg#webfont') format('svg');
}

@font-face{ 
font-family:'neuropol';
    src:url('/font/neuropol.eot');
}
@font-face { 
    font-family: 'neuropol';
    font-weight: normal;
    font-style: normal;
    src:url(http://:/) format("No-IE-404"),url('/font/neuropol.woff') format('woff'), 
        url('/font/neuropol.ttf') format('truetype'), 
        url('/font/neuropol.svg#webfont') format('svg');
}

* {
	margin:0;
	padding:0;
}

ul {
	list-style-type: none;
	background-image: url('/img/stars-thumb.jpg');
	background-position: 0 50%;
	background-repeat: no-repeat;
}

#fullPage {
	padding:40px;
}

.gameContainer {
	float: left;
	width: 50%;
	height: 500px;
	position: relative;
}

#menuBackground {
	background:url(/img/stars3.jpg);
}

#levels {
	margin: 0 auto 0 auto;
	width: 900px;
}

#menuWindow {
	overflow:hidden;
}

#menuWindow ul {
	width: 25%;
	padding-left: 160px;
	margin: 30px 20px 30px 30px;
}

#menuWindow h1 {
	font-family: "dodger", sans-serif;
	font-size: 50px;
	color: #fff;
	line-height: 100px;
	text-align: center;
}

#menuWindow a {
	display: block;
	width: auto;
	margin: 10px 0 10px 0;
	font-family: "neuropol", sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
#menuWindow a:hover {
	margin: 10px 0 10px 0;
	font-family: "neuropol", sans-serif;
	font-size: 16px;
	color: #fff;
	text-decoration: underline;

}

#gameWindow {
	background:url(/img/stars.jpg);
	background-size: cover;
	background-position:70% 30%;
	display:none;
	overflow:hidden;
	width: 100%;
	height: 100%;
}

#death-screen {
	display: none;
	position: absolute;
	width: 100%;
	margin-top: 50%;
	top: 0;
	text-align: center;
	font-family: "dodger", "sans-serif";
	font-size: 50px;
	color: #fff;
}

#winning-screen {
	display: none;
	position: absolute;
	width: 100%;
	margin-top: 50%;
	top: 0;
	text-align: center;
	font-family: "dodger", "sans-serif";
	font-size: 50px;
	color: #fff;
}

#editorWindow {
	width: 50%;
	height: 580px;
	float: left;
}

#cellEditor {
	width: 240px;
	height: 500px;
	overflow-y:auto;
	float: left;
}

#cellEditor td {
	width: 20px !important;
	height: 20px;
	border: 1px solid #000;

    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
	border-top-color: rgba(0, 0, 0, 0.14902);
	border-right-color: rgba(0, 0, 0, 0.14902);
	border-bottom-color: rgba(0, 0, 0, 0.247059);
	border-left-color: rgba(0, 0, 0, 0.14902);
    border-collapse: separate;
	border-spacing: 2px;
}

#cellEditor td.booster {
	background-color: green;
}
#cellEditor td.explosive {
	background-color: red;
}
#cellEditor td.basic {
	background-color: blue;
}
#cellEditor td.start {
	background-color: #FF7400;
}
#cellEditor td.end {
	background-color: #CD0074;
}

.btn-left-align button {
	text-align: left;

}

#cellEditor .hover {
	display:table-cell;
	width: 20px;
	height: 20px;
	margin-top: 0px;
	line-height: 20px;
	vertical-align: text-top;
	text-align:center;
	color:white;
	background: black !important;
}

#cellEditor td.player-on-tile {
	background: yellow;
}

.left {
	float: left;
}