* {
	margin:0;
	padding:0;
}

#fullPage {
	padding:40px;
}

#gameWindow {
	background:url(/images/stars.jpg);
	background-size: cover;
	background-position:70% 30%;
	overflow:hidden;
	width: 50%;
	height: 500px;
	float: left;
}

#editorWindow {
	width: 50%;
	height: 500px;
	overflow-y:auto;
	float: left;
}

#cellEditor {
	width: 380px;
	height: 500px;
	overflow-y:auto;
	float: left;
	background-color: gray;
}

#cellEditor td {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}

#cellEditor td.booster {
	background-color: green;
}
#cellEditor td.explosive {
	background-color: red;
}
#cellEditor td.basic {
	background-color: blue;
}

#cellEditor .hover {
	background: orange !important;
}